<div class="project-title col-md-8">
    <h3>
        <a href="/project/{{ project.slug }}">{{ project.title }}</a>
        {% if not project.stateMachine.isFinal %}
        <div class="btn-group project-transition">
            <i class="fa fa-cog" data-toggle="dropdown"></i>
            <ul class="dropdown-menu" role="menu" data-slug="{{ project.slug }}">
                {% if project.stateMachine.canResearch %}
                <li data-transition="research">
                    <a>{{ "project.transition.research"|trans }}</a>
                </li>
                {% endif %}
                {% if project.stateMachine.canStart %}
                <li data-transition="start">
                    <a>{{ "project.transition.start"|trans }}</a>
                </li>
                {% endif %}
                {% if project.stateMachine.canDeploy %}
                <li data-transition="deploy">
                    <a>{{ "project.transition.deploy"|trans }}</a>
                </li>
                {% endif %}
                {% if project.stateMachine.canDelay %}
                <li data-transition="delay">
                    <a>{{ "project.transition.delay"|trans }}</a>
                </li>
                {% endif %}
                {% if project.stateMachine.canRestore %}
                <li data-transition="restore">
                    <a>{{ "project.transition.restore"|trans }}</a>
                </li>
                {% endif %}
                {% if project.stateMachine.canCancel %}
                <li class="divider"></li>
                <li data-transition="cancel">
                    <a class="btn-danger">{{ "project.transition.cancel"|trans }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </h3>
    <p class="date text-muted">{{ project.date|nicedate }}</p>
</div>
<div class="col-md-4">
    <ul class="people list-unstyled pull-right">
        {% for user in project.users %}
            <li>
                <img src="{{ user.gravatar }}" title="{{ user.name }}" class="img-circle">
            </li>
        {% endfor %}
        {% include 'blocks/assign-yourself.twig' with {"project": project, "user": user} %}
    </ul>
</div>
