{% extends 'layouts/roadmap.layout.twig' %}
{% set activeMenu = "projects" %}

{% block title %}{{ "title.overview"|trans({ "%accountName%": account.name }) }}{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <div class="project-list" id="recent">
        <p class="project-list-type">{{ "project.group.recent"|trans }}</p>
        <ul class="list-unstyled">
            {% for project in recent %}
            <li class="project row">
                {% include 'project.block.twig' with {"project": project} %}
            </li>
            {% endfor %}
        </ul>

        {% if finished %}<p class="pull-right"><a class="text-muted" href="#finished">
            {{ "more"|trans }} <i class="fa fa-angle-double-down"></i>
        </a></p>{% endif %}
    </div>

    <div class="project-list" id="ongoing">
        <p class="project-list-type">{{ "project.group.ongoing"|trans }}</p>
        <ul class="list-unstyled">
            {% for project in ongoing %}
            <li class="project row">
                {% include 'project.block.twig' with {"project": project} %}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if new %}
    <div class="project-list" id="ongoing">
        <p class="project-list-type">{{ "project.group.new"|trans }}</p>
        <ul class="list-unstyled">
            {% for project in new %}
            <li class="project row">
                {% include 'blocks/project.block.twig' with {"project": project} %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if finished %}
    <div class="project-list" id="finished">
        <p class="project-list-type">{{ "project.group.finished"|trans }}</p>
        <ul class="list-unstyled">
            {% for project in finished %}
            <li class="project row">
                {% include 'blocks/project.block.twig' with {"project": project} %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    </div>

    <script type="text/javascript">
        $(".people img").tooltip({
            "placement": "bottom"
        });
        $('.project-transition').on('click', 'li', function () {
            var $this = $(this),
                    slug = $this.parents('.dropdown-menu').attr('data-slug'),
                    transition = $this.attr('data-transition');
            $.ajax({
                'method': 'POST',
                'url': '/project/' + slug,
                'data': {"transition": transition},
                'beforeSend': function () {
                    $this.parents('.project-transition').find('i').removeClass().addClass('spinner spinner16');
                },
                'complete': function () {
                    window.location.replace(window.location.href.replace(/$|#.*/, ''));
                }
            });
        });
        $(".people").on('click', '.assign-yourself', function () {
            var $this = $(this);
            $.ajax({
                'method': 'POST',
                'url': '/project/' + $this.attr('data-slug') + '/assign',
                'beforeSend': function () {
                    $this.html('<i class="spinner"></i>');
                },
                'success': function (rsp) {
                    $this.replaceWith(rsp);
                    $(".people img").tooltip({ "placement": "bottom" });
                }
            });
        });
    </script>
{% endblock %}